@model UrunEkleDuzenleVM

@{ 
    string id = null;
    if (ViewContext.RouteData.Values["id"] != null)
    {
        id = ViewContext.RouteData.Values["id"].ToString();

    }
}

    <form asp-action="Ekle" asp-controller="Urun" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label> Ürün Adı</label>
            <input type="text" class="form-control" asp-for="Adi">
            <small class="form-text text-muted"><span asp-validation-for="Adi" style="color:red;"></span></small>
        </div>
        <div class="form-group">
            <label>Kategori</label>
            <select class="form-control" asp-for="KategoriId" asp-items="@(new SelectList(ViewBag.Kategoriler, "Id", "KategoriAdi"))">
            </select>
            <small class="form-text text-muted"><span asp-validation-for="KategoriId" style="color:red;"></span></small>
        </div>
        <div class="form-group">
            <label>Marka</label>
            <select class="form-control" asp-for="MarkaId" asp-items="@(new SelectList(ViewBag.Markalar, "Id", "MarkaAdi"))">
            </select>
            <small class="form-text text-muted"><span asp-validation-for="MarkaId" style="color:red;"></span></small>
        </div>
        <div class="form-group">
            <label>Stok Adet</label>
            <input type="number" class="form-control" asp-for="StokAdet">
            <small class="form-text text-muted"><span asp-validation-for="StokAdet" style="color:red;"></span></small>
        </div>
        <div class="form-group">
            <label>Fiyat</label>
            <input type="number" step="0.001" min="0" class="form-control" asp-for="Fiyat">
            <small class="form-text text-muted"><span asp-validation-for="Fiyat" style="color:red;"></span></small>
        </div>
        <div class="form-group">
            <label>Üretim Tarihi</label>
            <input type="date" class="form-control" asp-for="UretimTarihi">
            <small class="form-text text-muted"><span asp-validation-for="UretimTarihi" style="color:red;"></span></small>
        </div>
        <div class="input-group is-invalid">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="txtgorseller" name="files" multiple required accept="image/x-png,image/gif,image/jpeg,image/jpg">
                <label class="custom-file-label" id="btnGorselSec">Görsel Seç</label>
            </div>

        </div>
        <div style="display:none;" class="form-group" id="divGorseller">

        </div>

        <script>
            $("body").on("change", "#txtgorseller", function () {
                $("#divGorseller").show(1000, () => {

                    console.log($("#txtgorseller")[0].files.length)
                    console.log($("#txtgorseller")[0].files)

                    $("#divGorseller").html("Seçilen dosya sayısı : " + $("#txtgorseller")[0].files.length + "<br>");

                    const gorseller = $("#txtgorseller")[0].files;
                    for (var i = 0; i < gorseller.length; i++) {
                        $("#divGorseller").append(gorseller[i].name + "<br>");
                    }

                })
            });
        </script>
        <button style="margin-top:5px;" type="submit" class="btn btn-primary">Ürün @(id==null?"Ekle":"Güncelle")</button>
    </form>


